@import 'variables';

.ts-like-button {
	margin-left: $base-padding;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 1em;
	display: flex;
	height: 1.6rem;
	align-items: center;
	outline: none;
	-webkit-appearance: none;

	> span {
		font-weight: bold;
		padding-right: $base-padding/2;
	}

	svg {
		transition: all 0.35s cubic-bezier(1,-0.26,.06,1.35);
	}

	&:hover, &:focus {
		svg {
			transform: scale(1.2);
		}
	}
	&:active {
		svg {
			transform: scale(0.9);
		}
	}
}