@import 'variables';

.ts-like-button {
	margin-left: $base-padding;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 1em;
	display: flex;
	height: 1.6rem;
	align-items: center;
	outline: none;
	position: relative;
	-webkit-appearance: none;

	> span {
		font-weight: bold;
		padding-right: $base-padding/2;
	}

	svg {
		transition: all 0.35s cubic-bezier(1,-0.26,.06,1.35);
	}

	&:hover, &:focus {
		svg {
			transform: scale(1.2);
		}
	}
	&:active {
		svg {
			transform: scale(0.9);
		}
	}

	// Tooltip
  &:after {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    bottom: -52px;
    width: 90px;
    left: 50%;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.875rem;
    text-transform: none;
    padding: $base-padding/2;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.2s 0.4s ease-out;
    transform: translate3d(-50%, 5px, 0);
    z-index: 999;
  }

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &:active {
    &:after {
      display: none;
    }
  }
}