@import 'variables';

.ts-listings li a, 
.ts-listing {
	display: flex;
	padding: $base-padding * 2 0;
	text-decoration: none;
	color: inherit;
	transition: all 0.25s ease-out;

	img {
		width: 100px;
		height: 100px;
		margin-right: $base-padding;
		transition: all 0.25s ease-out;
	}

	h2, h3 {
		margin: 0;
		transition: all 0.15s ease-out;
	}
}

.ts-listings li a {
	&:hover, &:focus {

		img {
			transform: scale(1.1);
		}

		h2, h3 {
			color: $color-dark-blue;
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 40rem) {
	.ts-listing {
		flex-direction: column;

		img {
			margin-bottom: $base-padding;
		}
	}
}